.card { 
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for normal state */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px); /* Slightly lifts the card */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow to enhance effect */
}

.card-title {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) ;
}